# compiled output
dist

# dependencies
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.local

# Prisma
**/src/prisma/client

# gateway
**/nginx/ssl/certificates/

# frontend
.angular
environment.dev.ts
environment.prod.ts

# frontend admin
.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
vite.config.*.timestamp*
vitest.config.*.timestamp*