@use 'tailwindcss';
@plugin 'tailwindcss-primeui';

@theme {
  --color-blue-50: #dde6f9;
  --color-blue-100: #92b6ed;
  --color-blue-500: #5191dc;
  --color-blue-600: #3b6ca5;
  --color-blue-700: #2a5281;
  --color-blue-800: #173150;

  --color-navy-800: #132943;
  --color-navy-900: #0f2136;

  --color-gray-100: #dadbdd;
  --color-gray-200: #b2b4b8;
  --color-gray-400: #8b8e94;
  --color-gray-600: #686a6e;
  --color-gray-700: #46484b;
  --color-gray-800: #27282a;
  --color-gray-900: #101112;
}
