html, body {
   margin: 0;
   width: 100%;
   height: 100%;
}

h1, h2, ol {
   margin: 0;
}

h1 {
   font-size: clamp(2rem, calc(1rem + 2vw), 5rem);
}

h2 {
   font-size: clamp(1.5rem, calc(1rem + 1vw), 2.5rem);
}

.minor-text {
   font-size: clamp(1rem, calc(0.25rem + 0.75vw), 2rem);
}

.container {
   width: 100%;
   min-height: 100%;
   padding: 10px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5vh;
   background-color: #DADBDD;
   color: #46484B;
   font-family: Arial, Helvetica, sans-serif;
}

.container > .image {
   width: clamp(15rem, 30vw, 62rem);
}

.container > .image > img {
   width: 100%;
   height: auto;
   display: block;
}

.text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 2vh;
   max-width: 90%;
}

.text > .content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5vh;
}

.text > .content > .cause-explanation {
   display: flex;
   flex-direction: column;
   gap: 1vh;
}

.text > .content > .instructions {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1vh;
   text-align: start;
}


@media (min-width: 64rem) {
   .text {
      max-width: 70%;
   }
}